html {
  
    height: 100%;
    
   background-color: #ff8c00;
   font-family: 'Cats Style', sans-serif;                                               
  
  }
    



body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#catFace {
	width: 250px;
	height: 200px;
	background-color: aquamarine;
	background-image: url('../assets/catFace.png');
	position: absolute;
	
	background-repeat: no-repeat;
	background-size: 100%;

	border-radius: 100%;
	top: 30px;
	

}
#catFace:hover {
	cursor: pointer;
	background-image: url('../assets/catFace2.png');

}
.image-container {
    margin-top: 250px;
    background-color: aqua;
    width: 50%;
    height: 100px;
    position: relative;
    overflow: hidden;

    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
  }
  
.image {
    
    width: 25%;
    height: 120%;
    position: absolute;
    background-size: cover;
    animation: moveRight 3s linear infinite, alternateImages 60s steps(12) infinite;
    opacity: 0;
}
.image1 {
background-image: url('../assets/1.png');
}

.image2 {
background-image: url('../assets/2.png');
}
.image3 {
background-image: url('../assets/3.png');
}
.image4 {
background-image: url('../assets/4.png');
}
.image5 {
background-image: url('../assets/5.png');
}
.image6 {
background-image: url('../assets/6.png');
}
.image7 {
background-image: url('../assets/7.png');
}
.image8 {
background-image: url('../assets/8.png');
}
.image9 {
background-image: url('../assets/9.png');
}
.image10 {
background-image: url('../assets/10.png');
}
.image11 {
background-image: url('../assets/11.png');
}
.image12 {
background-image: url('../assets/12.png');
}

@keyframes moveRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(700%);
    }
  }
  


#loading {
	width: 100%;
	text-align: center;
	font-size: 9em;
	
}
.dot {
	display: inline-block;
	
	margin: 0 5px;
	opacity: 0;
  }
  
  .dot:nth-child(1) {
	animation: blink 1s infinite 0.2s;
  }
  
  .dot:nth-child(2) {
	animation: blink 1s infinite 0.4s;
  }
  
  .dot:nth-child(3) {
	animation: blink 1s infinite 0.6s;
  }
  
  @keyframes blink {
	0%, 50%, 100% {
	  opacity: 0;
	}
	25%, 75% {
	  opacity: 1;
	}
  }
  #catHeadDiv {
	width: 8%;
	height: 220px;
	position: relative;
	top: -80px;
	left: 160px;
	background-image: url('../assets/catHead.png');
	background-repeat: no-repeat;
	background-size: 100%;

	cursor: pointer;
  }
  .animate {
    animation: catAnimation 2s alternate;
}


@keyframes catAnimation {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(100px);
		opacity: 0;
	}
}

@media (max-width: 768px) {
	.image-container {
		width: 50%;
		height: 40px;
	}
	#loading {
		font-size: 3em;
	}
	#catHeadDiv {
		top: -30px;
	left: 40px;

	}

}