html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    
                                                
}
body {
    background:  linear-gradient(to right, #000000, #ff8c00,#000000,#ff8c00, #000000);
    color : #da9029;   
    font-family: 'Cats Style', sans-serif;
    font-size: 1.2em;
    


}
#titleContainer {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #eeaa17;
    box-shadow: 0 0 10px #ee6917;
    
}
#titre {
    align-self: center;
}
#titleImageDiv {
    width: 110px;
    height: 110px;
    
    background-image: url('../assets/banner_cat.png');
    background-size: cover;
    
}
#titleImageDivDeux {
    width: 110px;
    height: 110px;
    
    background-image: url('../assets/banner_cat.png');
    background-size: cover;
    
}
#catBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
    background: 
        linear-gradient(transparent 23px, rgba(220, 220, 200, 0.8) 24px, transparent 24px),
        linear-gradient(90deg, transparent 23px, rgba(220, 220, 200, 0.8) 24px, transparent 24px),
        linear-gradient(to bottom, rgba(255, 105, 180, 0.5), rgba(0, 0, 255, 0.5));
    background-size: 100% 24px, 24px 100%, 100% 100%;

    background-attachment: fixed;

    
}

#race_select {
    margin-top: 50px;
    margin-bottom: 1%;
    width: 40%;
    height: 50px;    
    background-color: #000000;
    color: #eeaa17;
    text-align: center;
    border: 2px solid #eeaa17;
    border-radius: 50%;
    box-shadow: 0 0 10px #ee6917;






}
#divPicture {
    background-color: rgb(0, 0, 0);
    
    display: flex;
    max-width: 800px;
    min-width: 10px;
    
    justify-content: center;
    align-items: center;
    
    padding-top: 10px;
    border: 2px solid #da9029;
    border-radius: 5%;
    box-shadow: 0 0 10px #ee6917;
    

}
#divInfosLeft {
    width: 50%;
    height: 50%;
    padding-left: 30px;
    padding-bottom: 50px;
    text-align: center;
    
    
}    
#divInfosRight {
    width: 50%;
    height: 50%;
    text-align: center;
    padding-right: 30px;
    padding-bottom: 50px;
    
}
#divImage {
    align-self: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
    
}
#image {
    width: 100%;
}
#divImage > #checkboxes {
    width: 100%;
    height: 50px;
    color: #eeaa17;
    text-align: center;
    border: 2px solid #eeaa17;
    border-radius: 10%;
    box-shadow: 0 0 10px #ee6917;

}
#divImage > #checkboxes > input{ 
    height: 40px;    
}


#divDescription {
    background-color: black;
    margin-top: 1%;
    
    width: 1200px;
    max-width: 92%;

    border: 2px solid #eeaa17;
    border-radius: 20%;
    box-shadow: 0 0 10px #ee6917;
    margin-bottom: 50px;
    
}
#divDescriptionEntete {    
    display: flex;
    justify-content: space-around;
    padding: 30px;
    
}
#divDescriptionBody {
    text-align: center;
    padding: 30px;
    
}
#footer {
    background-color: #000000;
    width: 100%;
    height: 250px;
    display: flex;
    
    justify-content : center;
    
    margin-top: 50px;
    margin-bottom: 0px;
    border-top: 2px solid #eeaa17;
    border-bottom: 2px solid #eeaa17;
    box-shadow: 0 0 10px #ee6917;

}
#footerText {
    margin-top: 0;
    width: 50%;
    height: 100%;
    text-align: center;
}

#footerImage {
    width: 50%;
    height: 100%;
    background-image: url('../assets/footer_cats.png');
    background-repeat: no-repeat;
    backgroundfixed: top;
    
}








/* Media query pour les écrans de 769px à 10500px de largeur */
@media (min-width: 769px) and (max-width: 1200px) {
    body {
        font-size: 1em;
    }
    #race_select {
        margin-top: 50px;
        margin-bottom: 1%;

    }
    
    #divPicture {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 800px;
    }
    #divImage {
        align-self: flex-start;      
        
    }
    #image {
        padding-left: 200px;
        width: 50%;
    
        
    }

    #divDescription {
        width: 100%;
    }
  
}

/* Media query pour les appareils plus petits (largeur maximale de 768px) */
@media (max-width: 768px) {
    body {
        font-size: 1em;
    }
    #race_select {
        margin-top: 600px;
        margin-bottom: 1%;

    }
    #divPicture {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 1000px;
    }
 
    #divDescription {
        width: 100%;
    }
    #footer {
        flex-direction: column;
        align-items: center;
        min-height: 350px;
    }
    #footerImage {
        display: none;
    }

}
